//font
$PTSans: "PT Sans", "Arial", sans-serif;
$Times: "Times New Roman", serif;

//viewports
$tablet: 768px;
$desktop: 1220px;
$mobile-only: 767px;

//color
$fonts-color-main: rgba(38, 37, 37, 1);
$fonts-color-coment: rgba(184, 184, 184, 1);

//padding
$padding-mobile: 0 18px;
$padding-tablet: 0 38px;
$padding-desktop: 0 101px;

//wrapper
$wrapper-desktop: 1440px;

//gallery
$ig-blue: #2C90D8;

//mixins
@mixin wrapper {
    padding: $padding-mobile;
    max-width: $wrapper-desktop;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $tablet) {
        padding: $padding-tablet;
    }

    @media (min-width: $desktop) {
        padding: $padding-desktop;
    }
}

@mixin list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin button-reset {
    background-color: transparent;
    border: none;
}

@mixin link-reset {
    text-decoration: none;
    color: #2C90D8;
    transition: color 0.3s;

    &:hover,
    &:active {
        color: #000000;
    }
}

@mixin button-reset {
    background-color: transparent;
    border: none;
}

@mixin input {
    padding: 16px 10px;

    font-family: $PTSans;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.05em;

    outline: none;
    border: 2px solid #ADADAD;
    background-color: rgba(255, 255, 255, 0.7);

    &::placeholder {
        color: #ADADAD;
    }

    &:hover,
    &:active {
        border-color: #000000;
    }

    &:focus {
        border-color: #2C90D8;
    }

    @media (min-width: $tablet) {
        padding: 13px;

        font-size: 20px;
        line-height: 26px;
    }

    @media (min-width: $desktop) {
        padding: 13px 20px;
    }
}

@mixin btn {
    @include button-reset;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;

    font-family: $Times;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;

    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    
    transition: all 0.3s;

    &:hover,
    &:focus {
        background-color: #ffffff;
        color: #000000;
    }

    &:active {
        color: #D47A7A;
        border-color: #D47A7A;
    }

    &:disabled {
        background-color: transparent;
        color: #2C90D8;
        border-color: #2C90D8;
    }

    @media (min-width: $tablet) {
        font-size: 25px;
    }
}